<div *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <a routerLink="">
                <img class="logo" style="width: 10%;   padding: 10px;" src="../../assets/nav.jpeg" alt="logo" />
                <a style="color: white;  font-size: 18px;font-weight: bolder;">D. K. & L. Dinner House</a>
            </a>
        </div>
        <div class="nav-links">
            <a nz-button nzType="link"  routerLink="/home" routerLinkActive="active">Home</a>
            <a nz-button nzType="link" routerLink="/contact" routerLinkActive="active">Contact</a>
            <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">About</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>

        </ul>
    </nz-sider>
</div>
<div *ngIf="isUserLoggedIn">
    <nz-header class="main-header" nz-row nzType="flex">
        <div>
            <a routerLink="">
                <img class="logo"style="width: 10%;  padding: 10px;" src="../../assets/nav.jpeg" alt="logo" />
                <a style="color: white;  font-size: 18px;font-weight: bolder;">D. K. & L. Dinner House</a>
            </a>
        </div>
        <div class="nav-links">

            <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            <a nz-button nzType="link" routerLink="/user/order" routerLinkActive="active">Cart</a>
             
            <a nz-button nzType="link" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>
    </nz-header>

    <nz-sider nzCollapsible nzBreakpoint="lg" [nzCollapsedWidth]="0" class="mobile-sidenav">
        <ul class="nav-links" nz-menu nzTheme="dark" nzMode="inline">
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li nz-menu-item>
                <a nz-button nzType="link" routerLink="/user/fav" routerLinkActive="active">My Favorites</a>
            </li>
           
            <li nz-menu-item>
                <a nz-button nzType="link"  (click)="logout()" routerLinkActive="active">Logout</a>
            </li>
        </ul>
    </nz-sider>
</div> 
