<div class="bg" style="background-color: #F8F8F8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
        <div class="parent">
          <div class="child">
            <div nz-row class="imgDiv" style="text-align: center;">
              <div nz-col nzSpan="24"><img  width="70%" style="border-radius: 20px;" src="../../assets/logo.jpeg" /></div>
              <div style="width: 100%; text-align: center; margin-top: 5px;">
            </div>
            </div>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
           
            <nz-form-item>
              <nz-form-control nzHasFeedback nzErrorTip="The input is not valid E-mail!">
                <input nz-input placeholder="E-mail" formControlName="email" id="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback  [nzErrorTip]="errorPass">
                <input nz-input placeholder="Password" type="password" id="password" formControlName="password" />
                <ng-template #errorPass let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Password Is Required!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('pattern')">
                    Password Should Conatins 8 Characters,1 Lowercase, 1 Uppercase, 1 Number and 1 Special character
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzHasFeedback  [nzErrorTip]="errorTpl">
                <input nz-input type="password" placeholder="Confirm Password" formControlName="checkPassword" id="checkPassword" />
                <ng-template #errorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please confirm your password!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('confirm')">
                    Two passwords that you enter is inconsistent!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
           
            <nz-form-item>
              <nz-form-control nzHasFeedback   [nzErrorTip]="userErrorTpl">
                <input nz-input placeholder="Name" id="username" formControlName="name" />
                <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please input your username!
                  </ng-container>
    
                </ng-template>
              </nz-form-control>
            </nz-form-item>
    
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Register</button>
              Or <a routerLink="/login"> login now! </a>
          </form>
        </div>
        </div>
          </nz-spin>
     </div>   